.container-fluid .navbar-brand{
    color:white;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.navbar-nav .nav-item .nav-link{
    color: white;
  
}
.navbar-nav .nav-item .nav-link:hover{
    background-color: gray;
}
.dropdown-menu .dropdown-item{
    color: white;
}
.ara_bölüm{
    height: 200px;
}
.card-img-overlay:hover{
    background-color: rgb(31, 31, 31);
    position: absolute;
    z-index: 1;
    opacity: 0.6;
    transition: 0.5s;
}

.card-body ul li{
  float: left;
  direction: ltr;
  list-style-type: none;
 margin-left: 0px;
}